.checkbox-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.checkbox-input:checked + .checkbox-tile {
    @apply border border-secondary-100 dark:border-secondary-800 text-primary-500 dark:text-primary-100 shadow-lg;
}

.checkbox-input:checked + .checkbox-tile:before {
    @apply border border-secondary-100 dark:border-secondary-800 bg-secondary-500 dark:bg-secondary-900;
    transform: scale(1);
    opacity: 1;
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon, .checkbox-input:checked + .checkbox-tile .checkbox-label {
    @apply text-primary-500 dark:text-primary-100;
}

.checkbox-input:focus + .checkbox-tile {
    @apply border border-secondary-500 dark:border-secondary-800 ring-4 ring-secondary-100 dark:ring-secondary-700 shadow;
}

.checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-tile {
    @apply border border-primary-600 dark:border-primary-800 shadow-lg bg-white dark:bg-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 7rem;
    border-radius: 0.5rem;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tile:before {
    @apply border border-primary-500 dark:border-primary-800;
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}
